.sheet {
  width: 1200px;
  margin: auto;
}

.list-unstyled {
  list-style-type: none;
}

tbody > tr:last-child > td {
  border-bottom: 0;
}

.skill-table, .savingthrow-table {
  font-size: 12px;
  margin-bottom: 0;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 20px;
}

.icon-sm {
  font-size: 16px;
}

.row.accordion-button {
  margin: 0;
}

.character-avatar {
  max-width: 100%;
}

/******************************************
 * THEME 1 ********************************
 ******************************************/
 /*
 #42414d --grey (blueish)
 #483948 --grey (redish)
 #2b2a33 --dark grey
 #ED413E --main orange
 #EFB786 --skin
 #B2AB2E --olive green
 rgb(65, 62, 41) --moss green
 */
:root {
  /* ASURA
  --dark: #2b2a33;
  --dark-light: #483948;
  --main: #EA592A;
  --main-light: #FC8B5E;
  --secondary: #B2AB2E; */
  --dark: #222;
  --dark-light: #5b6875;
  --main: #16abba;
  --main-light: #5b5175;
  --secondary: rgb(240, 196, 114);
  --border-radius-xl: 20px;
  --border-radius-m: 10px;
  --border-radius-s: 5px;
  --font-size-sm: 12px;
  --font-size-lg: 18px;
}

.themetext-faded {
  color: #c7c5bf;/* Asura rgb(108, 117, 125) */
}

body, .bg-dark {
  color: white;
  background-color: var(--dark);
}

.bg-dark-light, 
.accordion-button,
.savingthrow-table td,
#inventory-list td,
#attacks-list td,
.spellslots-table td,
.spellslots-table th,
#attacks-list th,
.skill-table td
 {
  color: white;
  background-color: var(--dark-light);
}

.sheet-header {
  border-radius: var(--border-radius-m);
  overflow: hidden;
  background-color: var(--main);
} 

.sheet-header .character-name {
  display: flex;
  align-items: center;
}

.header-character-info {
  padding: 5px;
}

.header-character-info .info-block {
  padding: 5px 0 5px 15px;
  background-color: var(--dark-light);
  border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
}

.circle-inline-wrapper {
  display: inline-block;
  margin-left: -10px;
}

.circle {
  height: 45px;
  width: 45px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: var(--main);
  padding: 0 5px 3px 0;
  font-weight: bold;
}

.prominent-number p {
  display: inline-block;
  margin: 0 auto;
}

.prominent-number {
  height: 40px;
  border: 3px solid var(--main);
  border-radius: var(--border-radius-m);
  margin: 0 auto 20px;
  max-width: 250px;
}

.ability-scores-column {
  background-color: var(--secondary);
  border-radius: var(--border-radius-m);
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: var(--main);
}

.ability-scores-column ul {
  height: 100%;
}

.gold {
  color: #FFD700;
}

.silver {
  color: #C0C0C0;
}

.copper {
  color: #B87333;
}

.money-row {
  border-radius: var(--border-radius-m);
  background-color: var(--dark-light);
  border: 3px solid var(--secondary)
}

.themetext-main-light {
  color: var(--main-light);
}

.themetext-secondary {
  color: var(--secondary);
}

.themebg-secondary {
  background-color: var(--secondary);
}

.accordion-item {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.accordion-item:last-of-type {
  border: 0;
}

.abilityscore-box .card-header {
  background-color: var(--main-light);
  font-weight: bold;
  font-size: var(--font-size-sm);
}

.abilityscore-box {
  border-radius: var(--border-radius-xl);
  overflow: hidden;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}

.acIniSpeed-box {
  width: 80px;
  margin: 0 auto;
  border: 2px solid var(--secondary);
  border-radius: var(--border-radius-m);
  overflow: hidden;
}

.text-small {
  font-size: var(--font-size-sm);
}

.text-large {
  font-size: var(--font-size-lg);
}

.hitpoints-container {
  background-color: var(--main);
  border-radius: var(--border-radius-m);
}

.nav-link, .nav-link:hover {
  color: white;
}

.nav-link:hover {
  border-color: var(--main-light) !important;
  background-color: var(--main-light);
}

.nav-link.active {
  background-color: var(--main) !important;
  border-color: var(--main) !important;
  color: white !important;
}

.nav.nav-tabs {
  border-color: var(--main);
}

.inventory-block.tab-content {
  border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);
  overflow-y: auto;
  max-height: 620px;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-light) var(--dark);
  border: 1px solid var(--main);
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.personality-content.tab-content,
.accordion-item:last-of-type,
.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);
  overflow: hidden;
}

.spellslot-used {
  width: 25px;
}

.spellslots-container h4 {
  border-top: 2px solid;
}

.spellslots-container {
  border-radius: var(--border-radius-xl);
  overflow: hidden;
  border: 2px solid var(--secondary);
}

.spell-dc-box {
  border-right: 2px solid var(--secondary);
}

.appearance-container {
  border: 2px solid var(--main);
  border-radius: var(--border-radius-m);
}

.personality-box {
  border-radius: var(--border-radius-xl);
  height: 100%;
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
  background-image: url('./files/caret_down_white_small.png');
}

.btn-alter-spellslots {
  color: var(--secondary);
  padding: 0 0 11px;
}

.btn-add-hitpoints {
  color: white;
}

.btn-add-hitpoints:hover {
  color: var(--secondary);
}

.hp-change-amount {
  max-width: 15%;
}

.hp-change-source {
  max-width: 30%;
}

.hp-change-type {
  max-width: 30%;
}

.has-pointer {
  cursor: pointer;
}