.sheet {
  width: 1200px;
  margin: auto;
}

.attributes-list {
  list-style-type: none;
}

tbody > tr:last-child > td {
  border-bottom: 0;
}

.skill-table, .savingthrow-table {
  font-size: 12px;
  margin-bottom: 0;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 20px;
}

.row.accordion-button {
  margin: 0;
}